[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmisarwala
[access "refs/for/refs/*"]
	read = group user/mmisarwala
	push = group user/mmisarwala
	label-Code-Review = -2..+2 group user/mmisarwala
	label-Verified = -1..+1 group user/mmisarwala
	rebase = group user/mmisarwala
	removeReviewer = group user/mmisarwala
	submit = group user/mmisarwala
[access "refs/heads/*"]
	read = group user/mmisarwala
	create = group user/mmisarwala
	push = +force group user/mmisarwala
	pushMerge = group user/mmisarwala
[access "refs/tags/*"]
	push = +force group user/mmisarwala
	pushTag = group user/mmisarwala
	pushSignedTag = group user/mmisarwala
